* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    
}

body {
    font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.form-control:focus {
    box-shadow: none;

}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
    outline: none;

}

:root {
    --font: 'Arimo', sans-serif;
    --light-black: #2d3e50;
    --hlt-clr: #fbaa33;
    --white-clr: #fff;
    --off-white: #f5f5f5;
    --gray: #999999;
    --black: #444444;
    --transition: all linear 0.3s;
}

.btn:focus {
    box-shadow: none;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}

/* top header starts here */
#topheader {
    background: var(--light-black);
}

#topheader a {
    color: var(--white-clr);
    font-size: 14px;
    display: block;
    transition: var(--transition);
}

#topheader ul {
    margin: 0;
    padding: 0;
}

#topheader ul li {
    display: inline-block;
    padding: 10px 15px;
}

#topheader a:hover {
    color: var(--hlt-clr);
}

.right a {
    padding: 10px 0px;
    transition: var(--transition);
}

/* top header ends here */

/* bottom header starts here */
#bottomheader {
    background: #f8f9fa;
    padding: 20px 0px;
}

.navbar ul li {
    padding-left: 30px;
    color: var(--light-black);
    padding-top: 22px;
}

.navbar button {
    margin-top: 17px;
    font-size: 18px;
    border: 0;
    outline: 0;
    background: 0;
    padding: 10px 18px;
    background: var(--hlt-clr);
    border-radius: 5px;
    color: var(--white-clr);
    transition: var(--transition);
}

.navbar button:hover {
    background: var(--light-black);
}

.navbar ul li a {
    font-size: 16px;
    color: var(--light-black);
    font-weight: 400;
    transition: var(--transition);
}

.navbar ul li a:hover {
    color: var(--hlt-clr);
}

/*bottom header ends here */

/* banner section starts here */
#banner .slider .banner-content {
    height: 650px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
    z-index: 1;
    
}

#banner .slider .banner-content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.452);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.banner-text {
    padding-top: 140px;
}

.banner-text h1 span {
    color: var(--white-clr);
    font-weight: 400;
    font-size: 40px;
    display: block;

}
.banner-text h1 {
    color: var(--white-clr);
    font-weight: 700;
    font-size: 52px;
    padding-bottom: 10px;
}
.banner-text p {
    color: var(--white-clr);
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 60px;
    width: 82%;
}
.links .course {
    color: var(--white-clr);
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    padding: 13px 22px;
    border-radius: 5px;
    margin-right: 20px;
    transition: var(--transition);
    background-color: var(--hlt-clr);
}
.links .course:hover {
    background-color: var(--light-black);
}
.links .tour {
    text-decoration: none;
    color: var(--white-clr);
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    padding: 13px 22px;
    border-radius: 5px;
    margin-right: 20px;
    background-color: var(--light-black);
    transition: var(--transition);
}
.links .tour:hover {
    background-color: var(--hlt-clr);
}

#banner .slider-icons.fa-arrow-left {
    border: 1px solid var(--white-clr);
    padding: 18px;
    border-radius: 50%;
    cursor: pointer;

    color: var(--white-clr);
    position: absolute;
    left: 30px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition);

}

#banner .slider-icons.fa-arrow-right {
    border: 1px solid var(--white-clr);
    padding: 18px;
    border-radius: 50%;
    cursor: pointer;

    color: var(--white-clr);
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition);
    
}
#banner .slider-icons:hover {
    background-color: var(--hlt-clr);
    border: 1px solid transparent;
}

/* banner section ends here */

/* support section starts here */
#support {
    margin-top: -110px;
    position: absolute;
    width: 100%;
}
#support .online {
    background: #f5f5f5;
    border: 1px solid #dddddd;
    border-right: 2px solid #dddddd;
    padding-bottom: 30px;
    text-align: center;
    transition: var(--transition);
}
#support .online img {
    padding-top: 30px;
    padding-bottom: 20px;
}
#support .online .text-center h4 {
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
    padding-bottom: 10px;
}
#support .online .text-center a {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    margin-bottom: 30px;
    transition: all linear .5s;
    cursor: pointer;
}
#support .online .text-center a i {
    padding-left: 5px;
}
#support .online:hover {
    box-shadow: 0 7px 50px rgb(0 0 0 / 15%);
}
#support .online .text-center a:hover {
    color: var(--hlt-clr);
}
/* support section ends here */

/*about section starts here*/
#about {
    padding-top: 200px;
}
.common h2 {
    font-weight: 300;
    font-size: 32px;
    color: var(--light-black);
    padding-bottom: 22px;
}
.common {
    padding-bottom: 60px;
}
#about .common p {
    color: #666666;
    font-size: 14px;
}
#about .about-slider {
    position: relative;
}
#about .about-slider:after {
        position: absolute;
        content: "";
        top: -10px;
        left: 0;
        background: url(../images/aboutSliderBorderTop.png);
        width: 370px;
        height: 3px;
        z-index: 1;
        

}
#about .about-slider:before {
        position: absolute;
        content: "";
        bottom: -10px;
        right: 0;
        background: url(../images/aboutSliderBorderBottom.png);
        width: 370px;
        height: 3px;
        z-index: 1;
}
.about-items {
    clip-path: polygon(23% 0, 100% 0, 77% 100%, 0 100%);
}
.slider-dots li {
    display: inline-block;
    line-height: 0;
    margin: 0 4px;
    text-align: center;
}
.slider-dots li button {
    background: none;
    border: none;
    font-size: 0;
    width: 15px;
    height: 15px;
    border: 1px solid var(--gray);
    border-radius: 50%;
    cursor: pointer;
    transition: all linear 0.3s;

}
.slider-dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 40px;
    
    transition: all linear 0.3s;
}
.slider-dots li.slick-active button {
    background-color: var(--hlt-clr);
    transition: all linear 0.3s;
}
.about-text p {
    font-size: 14px;
    color: var(--black);
    margin-bottom: 20px;
}
.about-text {
    padding-top: 50px;
}
.buttons a {
    font-family: var(--font);
    font-weight: 400;
    font-size: 20px;
    padding: 12px 18px;
    background: var(--light-black);
    border: 1px solid;
    text-decoration: none;
    color: var(--white-clr);
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 25px;
    display: inline-block;
    transition: var(--transition);
}
.buttons a:hover {
    background: var(--hlt-clr);
}
/*about section ends here*/

/* counter section starts here */
#counter {
    margin-top: 100px;
    height: 190px;
    
        background: url(../images/counterPartImage.png) no-repeat;
        background-position: center !important;
        background-size: cover !important;
        position: relative;
        z-index: 1;
}
.counter-item h3 {
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--font);
    padding-bottom: 8px;
}
.counter-item h5 {
    font-family: var(--font);
    font-weight: 400;
    font-size: 24px;
    color: #f1f1f1;
    padding-bottom: 14px;
}
/* counter section ends here */

/* course section starts here */
#course {
    padding-top: 100px;
    
}

.course-img {
    position: relative;
    transition: all linear 0.3s;
}
.course-img img {
    width: 100%;
}
.course-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.418);
    height: 0%;
    opacity: 0;
    transition: var(--transition);
}
.course-img:hover .course-img-overlay {
    opacity: 1;
    height: 100%;
}
.course-img-overlay a i {
    padding: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--hlt-clr);
    font-size: 20px;
    z-index: 999;
    color: #f1f1f1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    cursor: pointer;
}
.course-card {
    margin-bottom: 100px;

    width: 95%;
    
        position: relative;
        border: 1px solid transparent;
        background: var(--off-white);
        padding: 20px;
        box-sizing: border-box;
        transition: var(--transition);
}
.course-card:hover {
        box-shadow: 0 2px 20px rgb(0 0 0 / 11%);
        -webkit-box-shadow: 0 2px 20px rgb(0 0 0 / 11%);
        -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.11);
        -ms-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.11);
        -o-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.11);
        border: 1px solid #dddddd;
}
.course-card:hover .subject h4 {
    color: var(--hlt-clr);
}
.course-card:hover .enroll-btn a {
    background: var(--hlt-clr);
}
.conduct p {
    color: var(--black);
    font-size: 13px;
    font-weight: 400;
    font-family: var(--font);
    margin-top: 10px;
}
.conduct h5 {
    color: var(--black);
    font-size: 15px;
    font-weight: 700;
    font-family: var(--font);
}
.subject h4 {
        
        color: #222222;
        font-size: 20px;
        font-weight: 700;
        font-family: var(--font);
        padding-top: 20px;
        padding-bottom: 16px;
        transition: all linear .5s;
}
.subject p {
    font-size: 13px;
    font-weight: 400;
    font-family: var(--font);
    padding-bottom: 35px;
    border-bottom: 1px solid #dddddd;
    line-height: 26px;
}
.module p {
    font-size: 12px;
    font-weight: 400;
    font-family: var(--font);
    margin-left: 18px;
    color: var(--gray);
}
.module h5 {
    color: var(--black);
    font-weight: 700;
    font-family: var(--font);
    font-size: 13px;
    margin-left: 18px;
    padding-top: 10px;
}
.enroll-btn a {
    padding: 16px 18px;
    background: var(--light-black);
    border-radius: 5px;
    position: absolute;
    z-index: 999;
    text-align: center;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    color: var(--white-clr);
    font-weight: 400;
    font-family: var(--font);
    font-size: 16px;
    transition: all linear 0.5s;
}
.pro-rating i {
        font-size: 12px;
        color: var(--hlt-clr);
        padding-bottom: 10px;
        padding-top: 5px;
        margin-right: -5px;
        padding-left: 5px;
        
}
.pro-rating p {
    color: var(--gray);
    font-size: 13px;
    font-weight: 400;
    font-family: var(--font);
}
#course i.course-icons.fas.fa-arrow-left.slick-arrow {
    border: 1px solid var(--white-clr);
    padding: 18px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--hlt-clr);

    color: var(--white-clr);
    position: absolute;
    left: -70px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition);

}

#course i.course-icons.fas.fa-arrow-right.slick-arrow {
    border: 1px solid var(--white-clr);
    padding: 18px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--hlt-clr);
    color: var(--white-clr);
    position: absolute;
    right: -55px;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition);

}
.name-star {
    margin-top: 20px;
}
.module {
    padding-top: 15px;
    padding-bottom: 50px;
}

/* course section ends here */

/* event section starts here */
.join-btn a {
        text-decoration: none;
        color: var(--white-clr);
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        background: var(--light-black);
        transition: var(--transition);
        margin-top: 17px;
        
}
.vertical-items {
    background: var(--off-white);
    border: 1px solid transparent;
    margin-bottom: 30px;
    padding: 17px;
    transition: var(--transition);
    cursor: pointer;
    margin-bottom: 15px;
}
.vertical-items:hover a {
    background: var(--hlt-clr);

}
.vertical-items:hover h3,
.vertical-items:hover i
                      {
    color: var(--hlt-clr);
}
.vertical-items:hover {
    box-shadow: 0 7px 50px rgb(0 0 0 / 15%);

}
.event-text h3 {
    font-family: var(--font);
    font-weight: 700;
    font-size: 22px;
    color: var(--light-black);
    margin-bottom: 17px;
    transition: all linear 0.5s;
}
.event-text p {
    font-family: var(--font);
    font-weight: 400;
    font-size: 13px;
    color: #4f4f4f;
    padding-bottom: 17px;
}
.event-text i {
    color: var(--light-black);
    transition: all linear 0.5s;
}
.event-text span {
        font-family: var(--font);
        font-weight: 400;
        font-size: 13px;
        color: #979797;
        display: inline-block;
        padding-right: 5px;
}
.event-text {
    width: 55%;
}
.event-img {
    width: 45%;
}
#event .pb-calendar {
    background: var(--white-clr);
    border: 30px solid var(--off-white);
    box-sizing: border-box;
    min-height: 502px;
    max-height: 515px;
    overflow-y: scroll;
    transition: all linear .4s;
    display: block;
    position: relative;
    color: #555555;
    cursor: pointer;
}
#event .schedule-dot-list {
    height: 0px;
    margin: 0;
}
#event .col {
    position: relative;
    border: 1px solid #ddd;
    padding: 0;
    width: 40px;
    height: 40px;
    font-weight: 400;
    font-family: 'Arimo';
    font-size: 14px;
    text-align: center;
    line-height: 60px;
    color: var(--light-black);
    z-index: 333;
}
.pb-calendar .top-frame {
    background: var(--off-white);
    margin-bottom: 0;
    padding-bottom: 15px;
}
#event i.icon.fas.fa-arrow-down {
    color: var(--hlt-clr);
    padding-top: 13px;

}
#event i.icon.fas.fa-arrow-up {
    color: var(--hlt-clr);
    padding-top: 13px;

}
#event .pb-calendar:hover {
        box-shadow: 0 7px 50px rgb(0 0 0 / 15%);
}


.vertical-dots li {
    
    line-height: 0;
    margin: 4px 0px;
    text-align: center;
}

.vertical-dots li button {
    background: none;
    border: none;
    font-size: 0;
    width: 15px;
    height: 15px;
    border: 1px solid var(--gray);
    border-radius: 50%;
    cursor: pointer;
    transition: all linear 0.3s;

}

.vertical-dots {
    text-align: center;
    position: absolute;
    bottom: 184px;
    right: -79px;
    transform: translate(-50px, -50px);
    transition: all linear 0.3s;
}

.vertical-dots li.slick-active button {
    background-color: var(--hlt-clr);
    transition: all linear 0.3s;
}

/* event section ends here */

/* testimonial starts here */
#testimonial {
    padding: 100px 0px;
    margin-top: 100px;
    background: var(--off-white);
}
.test-img {
    position: relative;
    padding: 10px 0px;
}
.test-img:after {
        position: absolute;
        content: "";
        top: 0px;
        left: 0;
        background: url(../images/eventslidertopBorder.png);
        width: 220px;
        height: 3px;
        z-index: 1;
}
.test-img:before {
    position: absolute;
    content: "";
    bottom: 1px;
    right: 0;
    background: url(../images/eventsliderfooterBorder.png);
    width: 220px;
    height: 3px;
    z-index: 3;
}
.faq-img {
    clip-path: polygon(23% 0, 100% 0, 77% 100%, 0 100%);
}
.test-text p {
    font-family: var(--font);
    font-weight: 400;
    font-size: 13px;
    color: var(--black);
    line-height: 25px;
    padding-bottom: 20px;
}
.test-text h3 {
    font-family: var(--font);
    font-weight: 700;
    font-size: 20px;
    color: var(--black);
    padding-bottom: 10px;

}
.test-text h3 span {
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
}
.test-text i {
    color: var(--hlt-clr);
    font-size: 14px;
}
.test-text {
    padding-top: 40px;
    padding-bottom: 82px;
}
#testimonial i.testr-icons.fas.fa-arrow-right.slick-arrow {
        color: var(--white-clr);
        position: absolute;
        font-size: 28px;
        top: 100px;
        left: -80px;
        z-index: 99;
        width: 50px;
        height: 50px;
        background: var(--light-black);
        border-radius: 50%;
        border: 1px solid var(--light-black);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        transform: translateY(-50%);
        transition: var(--transition);
}
#testimonial i.testl-icons.fas.fa-arrow-left.slick-arrow {
    color: var(--white-clr);
    position: absolute;
    font-size: 28px;
    top: 160px;
    left: -80px;
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--light-black);
    border: 1px solid var(--light-black);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    transform: translateY(-50%);
    transition: var(--transition);
}
#testimonial i.testr-icons.fas.fa-arrow-right.slick-arrow:hover {
    background: var(--hlt-clr);
}
#testimonial i.testl-icons.fas.fa-arrow-left.slick-arrow:hover {
    background: var(--hlt-clr);
}

.a-card {
    
    margin-bottom: 10px;
    background: var(--off-white);
    border: 1px solid transparent;
    transition: var(--transition);
}

.a-card button:focus {
    box-shadow: none !important;
    text-decoration: none;
    outline: 0;
}
.a-card .a-btn {
    box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
    
}
.a-card .a-btn:not(.collapsed) {
    color: var(--black);
    background-color: var(--hlt-clr);
    box-shadow: rgb(0 0 0 / 13%) 0px -1px 0px inset;
    font-family: var(--font);
    font-weight: 400;
    font-size: 20px;
    
    
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.a-card button.accordion-button.a-btn.collapsed {
    font-family: var(--font);
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
    background: var(--white-clr);
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.accordion-button:not(.collapsed)::after {
    display: none;
}
.accordion-button::after {
    display: none;
}

.a-btn i {
        transform: rotate(90deg);
}
.collapsed i {
    transform: rotate(0deg);
}
.a-card .a-btn i {
    margin-left: auto;
    transition: var(--transition);
}
.accordion-body  {
    word-spacing: 1px;
    font-size: 14px;
    color: var(--black);
    font-family: var(--font);
    font-weight: 400;
    padding-top: 30px;
    background: var(--white-clr);
    margin-bottom: 30px;
}
/* testimonial ends here */

/* teacher section starts here */
#teacher {
    margin-top: 100px;
    height: 550px;
}
.teacher-info {
    
    cursor: pointer;
    transition: var(--transition);
    
}
.teacher-icon {
    
        margin-top: -43px;
        opacity: 0;
        transition: var(--transition);
        
}
.teacher-info:hover .teacher-icon {
    margin-top: -25px;
    opacity: 1;
    

}
.teacher-icon a {
    padding: 0px 7px;
}
.teacher-icon a i {
    color: var(--white-clr);
    font-size: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: var(--light-black);
    transition: all linear .4s;
    
}
.teacher-text {
    margin-top: 10px;
    transition: var(--transition);
    
}
.teacher-text h3 {
    
    font-family: var(--font);
    font-weight: 700;
    font-size: 20px;
    color: var(--black);
    padding-bottom: 5px;
}
.teacher-text p {
        font-weight: 400;
        font-size: 16px;
        color: var(--black);
        padding-bottom: 5px;
}
.teacher-text img {
    margin: auto;
}

i.tch-icons.fas.fa-arrow-left.slick-arrow {
    color: var(--white-clr);
    position: absolute;
    font-size: 28px;
    top: 160px;
    left: -80px;
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--light-black);
    border: 1px solid var(--light-black);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    transform: translateY(-50%);
    transition: var(--transition);

}
i.tch-icons.fas.fa-arrow-right.slick-arrow {
    color: var(--white-clr);
    position: absolute;
    font-size: 28px;
    top: 172px;
    right: -68px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background: var(--light-black);
    border-radius: 50%;
    border: 1px solid var(--light-black);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    transform: translateY(-50%);
    transition: var(--transition);
}
.teacher-icon i:hover {
    background-color: var(--hlt-clr);
}
i.tch-icons.fas.fa-arrow-left.slick-arrow:hover,
i.tch-icons.fas.fa-arrow-right.slick-arrow:hover {
    background-color: var(--hlt-clr);
}

/* teacher section ends here */


/* blog bg starts here */
#blogbg {
    background-image: url(../images/blogbg.png);
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat  !important;
    margin-top: 100px;
    padding-bottom: 200px;
    padding-top: 20px;
}
.blog-text h3 {
    font-weight: 300;
    font-size: 32px;
    color: var(--white-clr);
    padding-bottom: 22px;
}
.blog-text p {
    color: var(--white-clr);
    font-size: 14px;
}
/* blog bg ends here */

/* blog image starts here */
#blogimage {
    margin-top: -135px;
}
.blog-image-big {
    position: relative;
    background: black;
}
.blog-icons a {
    display: block;

}
.blog-icons {
    position: absolute;
    right: 25px;
    top: 90px;
    transform: translateY(-50px);
    opacity: 0;
    transition: var(--transition);
}
.blog-education {
    position: absolute;
    bottom: 45px;
    
    
}
.blog-date {
    position: absolute;
    bottom: 10px;
    width: 100%;
    opacity: 0;
    transition: var(--transition);
}
.blog-icons a i {
    color: var(--white-clr);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--light-black);
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
    transition: var(--transition);

}
.blog-education h4 a {
    color: var(--white-clr);
    font-family: var(--font);
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 30px;
    transition: var(--transition);
    
}
.blog-education a {
    color: var(--white-clr);
    font-family: var(--font);
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 8px;
    transition: var(--transition);
}
.blog-date p {
    color: var(--white-clr);
    font-family: var(--font);
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    padding-left: 18px;
    
    transition: var(--transition);
}
.blog-items {
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.89) 6%, 
    rgba(0, 0, 0, 0.89) 13%, 
    rgba(0, 0, 0, 0.69) 21%, 
    rgba(125, 185, 232, 0.15) 43%, 
    rgba(125, 185, 232, 0) 49%);
    width: 100%;
    height: 100%;
    top: 0;
    cursor: pointer;
}
.blog-items:hover .blog-date,
.blog-items:hover .blog-icons {
    opacity: 1;
}
.blog-icons a i:hover {
    background-color: var(--hlt-clr);
}
.blog-education a:hover,
.blog-education h4 a:hover {
    color: var(--hlt-clr);
}


/* small gallery starts here */
.small-gallery {
    margin-top: 20px;
    margin-bottom: 60px;
}
.small-education h4 {
    color: var(--white-clr);
    font-family: var(--font);
    font-weight: 400;
    font-size: 15px;
    padding-left: 20px;
    
}
.small-education p {
    color: var(--white-clr);
    font-family: var(--font);
    font-weight: 400;
    font-size: 13px;
}
.small-icon a i {
    color: var(--white-clr) !important;
    font-size: 14px !important;
    width: 34px !important;
    height: 34px !important;
    border-radius: 50% !important;
    background: var(--light-black) !important;
    line-height: 34px !important;
    text-align: center !important;
    transition: var(--transition);
    
    
}
.small-icon {
    top: 60px;
    right: 10px;

}
.small-education {
    bottom: 0;

}
.small-icon a i:hover {
    background: var(--hlt-clr) !important;
}

/* small gallery ends here */




/* blog image ends here */



/* footer section starts here */
#footer {
    background-image: url(../images/contactpartbanner.png);
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.footer-p p {
    color: var(--white-clr);
    font-family: var(--font);
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 30px;
}
#footer img {
        margin-top: 30px;
        margin-bottom: 30px;
}
.footer-icon a i {
    color: var(--light-black);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background: var(--white-clr);
    font-size: 20px;
    transition: var(--font);
    transition: var(--transition);
}
.footer-icon a {
        display: inline-block;
        margin-top: 33px;
        margin-bottom: 73px;
        margin-right: 15px;
        
        
}
#footer h3 {
        color: var(--white-clr);
        font-family: var(--font);
        font-weight: 700;
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 47px;
}
.f-links a {
    color: var(--white-clr);
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 28px;
    display: block;
    transition: var(--transition);
}
.f-right {
    padding-top: 120px;
}
.home-icon a i {
        color: var(--light-black);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
        background: var(--white-clr);
        font-size: 20px;
        transition: var(--transition);
}
.home-icon a {
    display: block;
    padding-bottom: 37px;
}
.address .address-title {
    color: var(--hlt-clr);
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
}
.address p {
    color: var(--white-clr);
    font-family: var(--font);
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 25px;
}
.home-icon a i:hover {
    color: var(--white-clr);
    background-color: var(--hlt-clr);
}
.f-links a:hover {
    color: var(--hlt-clr);
}
.footer-icon a i:hover {
    color: var(--white-clr);
    background-color: var(--hlt-clr);
}
/* footer section ends here */

/* instagram section starts here */
#instagram {
    overflow: hidden;
}
.footer-wrapper {
    position: relative;
    text-align: center;
    
}
.footer-wrapper img {
    margin: 0 !important;
    padding: 0 !important;
}
.footer-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: var(--transition);
}
.footer-overlay a {
    
    color: var(--light-black);
    font-family: var(--font);
    font-weight: 400;
    font-size: 13px;
    padding: 12px 22px;
    
    background: var(--white-clr);
    
    
    
}
.footer-wrapper:hover .footer-overlay {
    opacity: 1;
}


/* instagram section ends here */

/* copyright section starts here */
#copyright p {
    color: var(--white-clr);
    font-family: var(--font);
    font-weight: 400;
    font-size: 14px;
}
#copyright a {
        color: var(--hlt-clr);
        font-family: var(--font);
        font-weight: 400;
        font-size: 14px;
        margin-left: 5px;
        
}
.copyright-content {
    padding: 15px 0px;
}
/* copyright section ends here */




/*fixed menu*/
#bottomheader.fixed-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #eee;
    width: 100%;
    animation: smooth .5s;

}

@keyframes smooth {
    0% {
        top: -50px;
    }

    100% {
        top: 0px;
    }
}

/*fixed menu*/

/* scroll top btn css */

#topbtn {
    background: none;
    border: none;
    color: #eee;
    background-color: var(--hlt-clr);
    padding: 15px;
    position: fixed;
    right: 40px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
    z-index: 99999;
}

/* scroll top button css */



